<ng-form name="$ctrl.invoiceForm">

    <div class="row">

        <!--Customer selector-->

        <div class="col-xs-6 input-container">

            <ui-select ng-model="$ctrl.ngModel.customer_id"
                       ng-change="$ctrl.onChange()"
            >
                <ui-select-match placeholder="Choose customer">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="customer.id as customer in ($ctrl.additionalData.customers | filter: $select.search) track by $index">
                    <span ng-bind="customer.name"></span>
                </ui-select-choices>
            </ui-select>

        </div>

        <!--Invoice discount-->

        <div class="col-xs-6 input-container">

            <div class="col-xs-6 input-container">
                <input type="number"
                       ng-change="$ctrl.onChange()"
                       ng-model-options="{debounce: 1000}"
                       placeholder="Set invoice discount"
                       class="form-control"
                       ng-model="$ctrl.ngModel.discount">
            </div>

        </div>

    </div>

    <products-selector
            ng-if="$ctrl.additionalData.products && $ctrl.ngModel.id"
            ng-model="$ctrl.ngModel.products"
            on-adding="$ctrl.onItemChange()"
            products="$ctrl.additionalData.products"></products-selector>

</ng-form>

{{ $ctrl.ngModel }}