<ng-form name="$ctrl.invoiceForm">

    <div class="row">
        <div class="col-xs-6 input-container">

            <ui-select ng-model="$ctrl.ngModel.invoice_id">
                <ui-select-match placeholder="Choose customer">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="customer.id as customer in ($ctrl.additionalData.customers | filter: $select.search) track by $index">
                    <span ng-bind="customer.name"></span>
                </ui-select-choices>
            </ui-select>

        </div>

        <div class="col-xs-6 input-container">

            <ui-select ng-model="$ctrl.ngModel.product_id">
                <ui-select-match placeholder="Choose product">
                    <span ng-bind="$select.selected.name"></span>
                </ui-select-match>
                <ui-select-choices
                        repeat="product.id as product in ($ctrl.additionalData.products | filter: $select.search) track by $index">
                    <span ng-bind="product.name"></span>
                </ui-select-choices>
            </ui-select>

        </div>

        <div class="col-xs-6 input-container">
            <input type="number"
                   placeholder="Set product quantity"
                   class="form-control"
                   ng-if="$ctrl.ngModel.product_id"
                   ng-model="$ctrl.ngModel.quantity">
        </div>

        <div class="col-xs-6 input-container">
            <input type="number"
                   placeholder="Set invoice discount"
                   class="form-control"
                   ng-model="$ctrl.ngModel.discount">
        </div>
    </div>

</ng-form>

{{ $ctrl.ngModel }}