<div class="-mg-bottom-15">
    <button class="btn-primary"
            ng-if="!$ctrl.invoiceFormShowing && $ctrl.isInvoiceState()"
            ng-click="$ctrl.showInvoiceForm()"
    >
        Add new invoice
    </button>

    <button class="btn-warning"
            ng-if="$ctrl.invoiceFormShowing && $ctrl.isInvoiceState()"
            ng-click="$ctrl.cancelCreatingInvoice()"
    >
        End creating
    </button>
</div>

<invoice-creator
        ng-if="$ctrl.invoiceFormShowing && $ctrl.additionalData"
        additional-data="$ctrl.additionalData"
        ng-model="$ctrl.newInvoice"
>
</invoice-creator>

<list-builder
        ng-if="!$ctrl.invoiceFormShowing && $ctrl.list.length"
        props-to-display="$ctrl.listItemNames"
        title-prop="{{ $ctrl.listItemTitles }}"
        list="$ctrl.list"></list-builder>