<div class="row" ng-repeat="products in $ctrl.products|limitTo:$ctrl.limitProducts">

    <!--Products-->

    <div class="input-container"
         ng-class="{
            'col-xs-6' : $ctrl.ngModel[$index].product_id,
            'col-xs-12': !$ctrl.ngModel[$index].product_id
         }">

        <ui-select ng-model="$ctrl.ngModel[$index].product_id"
                   ng-change="$ctrl.onProductSelection($index)">
            <ui-select-match placeholder="Choose product">
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices
                    repeat="product.id as product in ($ctrl.productsAvailable | filter: $select.search) track by $index">
                <span ng-bind="product.name"></span>
            </ui-select-choices>
        </ui-select>

    </div>

    <!--Product quantity-->

    <div class="col-xs-6 input-container"
         ng-if="$ctrl.ngModel[$index].product_id">

        <input type="number"
               placeholder="Set product quantity"
               class="form-control"
               ng-change="$ctrl.onProductSelection($index)"
               ng-model-options="{debounce: 1000}"
               required
               ng-model="$ctrl.ngModel[$index].quantity">

    </div>

</div>

<button class="btn-default" ng-click="$ctrl.addProductRow()">
    Add product
</button>